@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  border-radius: 12px;
}

body {
   background-color: #f2f2f2;
}

.container {
  background-color: #f2f2f2;
  display: flex;
}

.personal-info {
   background-color: #fff;
   width: 300px;
  height: 100%;
  margin: 20px;
  padding: 10px;
}

.personal-info .name {
   color: #4F4F4F;
   font-size: 24px;
   font-weight: 600;
}

.personal-info .positions {
   color: #828282;
   margin: 15px 0;
   font-size: 16px;
}

.personal-info .contact{
   color: #4F4F4F;
   font-size: 16px;
}

.contact .mail,.phone{
   display: flex;
   align-items: center;
   padding-bottom: 5px;
}

.personal-info .about-me{
   margin: 15px 0;
   color: #828282;
}

.skills{
   display: flex;
   width: 100%;
   margin: 20px ;
  color: #4F4F4F;
  font-size: 14px;
}

.skill-title {
   text-transform: uppercase;
   font-weight: 700;
   font-size: 18px;
}

.skills .frontend {
   background-color: #fff;
   width: 100%;
   padding: 20px;
   margin-right: 20px;
}

.skills .backend {
   background-color: #fff;
   width: 100%;
   padding: 20px;
   margin-right: 20px;
}

.skills .mobile {
   background-color: #fff;
   width: 100%;
   padding: 20px;
   margin-right: 20px;
}

.skills .design {
   background-color: #fff;
   width: 100%;
   padding: 20px;
   margin-right: 20px;
}

.cards {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.card {
  width: 300px;
  height: 100%;
  margin: 20px;
  padding: 10px;
  color: #434656;
  background-color: #fff;
}

.card img {
  width: 100%;
  height: 200px;
}

.tags {
  margin-block: 15px;
}

.tags span {
  font-size: 16px;
  margin-right: 5px;
  color: #4f4f4f;
}
.card h3 {
  font-size: 24px;
  margin-bottom: 15px;
  color: #333333;
}

.card p {
  font-size: 16px;
  color: #828282;
}

.links {
  display: flex;
  margin: 50px 0 20px 0;
}

.links .demo {
  background-color: #2f80ed;
  color: #fff;
  padding: 8px 20px;
  text-decoration: none;
}

.links .code {
  background-color: #fff;
  color: #2f80ed;
  border: 1px solid #2f80ed;
  padding: 8px 20px;
  text-decoration: none;
  margin-left: 20px;
}
